* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
p {
  font-size: 1.8em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #30343f;
  border: solid 2px #111;
  padding: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 5em;
  list-style: none;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__item {
  font-size: 1.8rem;
  font-weight: 500;
}

.navbar__link {
  padding: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px 8px 16px;
  display: inline-block;
  transition: background 0.3s ease-in-out;
  position: relative;
}

.navbar__link:hover {
  background-color: red;
}

.with-submenu:hover .submenu {
  display: block;
}
.submenu {
  display: none;
  width: 300px;
  list-style: none;
  position: absolute;
  background-color: #30343f;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submenu__link {
  color: rgba(255, 255, 255, 1);
  display: block;
  padding: 8px 16px 8px 16px;
  font-size: 1.8rem;
  transition: background 0.3s ease-in-out;
}

.submenu__link:hover {
  background-color: red;
}

/* HERO */
.hero {
  background-image: url(../imgs/funkos-banner.webp);
  height: 388px;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness (0.9);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  align-items: start;
  z-index: 2;
  position: relative;
}

.hero__title {
  font-size: 38px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.hero__text {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
}

.hero__link {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  background: rgba(255, 255, 255, 1);
  padding: 12px 68px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.hero__link:hover {
  background-color: red;
  color: rgba(255, 255, 255, 1);
}
